#relatorio{
  margin: 5%;
}

.form-group {
  display: inline-block;
  padding: 20px;
}

h3 {
  text-align: center;
}

#btnGerar {
   padding: 0px;
   margin: 0px;
}

#cliente {
  display: inline-block;
}
